<!DOCTYPE html>
<html>
<head>
	<title>Search Job</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
	<div class="container">
			<center><h1> Job Search System</h1> </center>
			<ul class="breadcrumb">
				<li><a href= "/">Home</a><span class="divider">/</span></li>
				<li><a href="/search">Search</a> <span class="divider">/</span></li>
				<li class="active">User Info/</li>
				<li><a href="/jobinfo">Job Info</a> <span class="divider">/</span></li>
				<li><a href="/match">Best Match</a> <span class="divider"> </span></li>

			 
			</ul>

			<!-- <form> -->
				<div class="search bar7">
					<form action="{{ url_for('insertuserinfo') }}" method="GET">
						<div class="form-group row">
							<label for="inputjobtype" class="col-sm-2 col-form-label">UIN</label>
							<div class="col-sm-10">
								{% if UIN %}
								<input type="text" class="form-control" id="inputUIN" placeholder="UIN..." name="UIN" value="{{UIN}}">
								{% else %}
								<input type="text" class="form-control" id="inputUIN" placeholder="UIN..." name="UIN">
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="iinputjobfield" class="col-sm-2 col-form-label">studentName</label>
							<div class="col-sm-10">
								{% if studentName %}
								<input type="text" class="form-control" id="inputstudentName" placeholder="Student Name..." name="studentName" value="{{studentName}}">
								{% else %}
								<input type="text" class="form-control" id="inputstudentName" placeholder="Student Name..." name="studentName">
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="inputjobloc" class="col-sm-2 col-form-label">Gender</label>
							<div class="col-sm-10">
								{% if Gender %}
								<input type="text" class="form-control" id="inputGender" placeholder="Gender..." name="Gender" value="{{Gender}}">
								{% else %}
								<input type="text" class="form-control" id="inputGender" placeholder="Gender..." name="Gender">
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="inputjobname" class="col-sm-2 col-form-label">Standing</label>
							<div class="col-sm-10">
								{% if Standing %}
								<input type="text" class="form-control" id="inputStanding" placeholder="Standing..." name="Standing" value="{{Standing}}">
								{% else %}
								<input type="text" class="form-control" id="inputStanding" placeholder="Standing..." name="Standing">
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="inputjobtype" class="col-sm-2 col-form-label">Major</label>
							<div class="col-sm-10">
								{% if Major %}
								<input type="text" class="form-control" id="inputMajor" placeholder="Major..." name="Major" value="{{Major}}">
								{% else %}
								<input type="text" class="form-control" id="inputMajor" placeholder="Major..." name="Major">
								{% endif %}
							</div>
						</div>
						<div class="form-group row">
							<label for="inputjobtype" class="col-sm-2 col-form-label">GPA</label>
							<div class="col-sm-10">
								{% if GPA %}
								<input type="text" class="form-control" id="inputGPA" placeholder="GPA..." name="GPA" value="{{GPA}}">
								{% else %}
								<input type="text" class="form-control" id="inputGPA" placeholder="GPA..." name="GPA">
								{% endif %}
							</div>
						</div>
						<button type="submit" class="btn btn-primary">INSERT</button>
					</form>
				</div>
			<!-- </form> -->

	</div>

</body>
</html>